# Ignore pastas de build
ApiGateway/bin/
ApiGateway/obj/

Auth.Api/bin/
Auth.Api/obj/

User.Api/bin/
User.Api/obj/

# Ignore arquivos do Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea

# Ignore arquivos de pacotes/nuget
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Outras opções úteis
*.log.vs/
bin/
obj/

*.log
